In [3]:
import pandas as pds
import numpy as npy
import seaborn as sbn
import matplotlib.pyplot as plb
import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import metrics


data_student = pds.read_csv('../input/studentgrade2/student-grade_2.csv')
data_student

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,2,5,5,3,6,2,2,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,5,5,3,4,2,2,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,4,4,3,3,10,2,2,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,4,4,5,5,5,2,4,4,4
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,4,5,4,5,4,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,1,2,2,1,4,11,3,3,3
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,2,1,3,2,2,3,4,4,4
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,1,3,3,3,3,3,3,2,2
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,2,5,3,2,5,0,3,3,3
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,4,3,3,3,5,5,2,3,3

In [4]:
data_student.shape

(395, 33)

In [5]:
data_student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [6]:
data_observe = data_student.drop(columns=['school','sex','address','famsize','Pstatus','Mjob','Fjob','reason','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic'])
data_observe

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,4,4,2,2,0,4,3,2,5,5,3,6,2,2,2
1,17,1,1,1,2,0,5,3,3,5,5,3,4,2,2,2
2,15,1,1,1,2,3,4,3,4,4,3,3,10,2,2,3
3,15,4,2,1,3,0,3,4,4,5,5,5,2,4,4,4
4,16,3,3,1,2,0,4,3,4,5,4,5,4,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,2,2,1,2,2,5,1,2,2,1,4,11,3,3,3
391,17,3,1,2,1,0,2,2,1,3,2,2,3,4,4,4
392,21,1,1,1,1,3,5,1,3,3,3,3,3,3,2,2
393,18,3,2,3,1,0,4,2,5,3,2,5,0,3,3,3
394,19,1,1,1,1,0,3,4,3,3,3,5,5,2,3,3

In [7]:
data_student.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,2.764557,2.891139,4.518987,3.708861,3.554430,5.708861,3.086076,3.093671,3.035443
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,0.871246,0.903370,1.034315
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,2.000000,2.000000,4.000000,3.000000,3.000000,0.000000,2.000000,3.000000,2.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,5.000000,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,3.000000,4.000000,5.000000,5.000000,5.000000,8.000000,4.000000,4.000000,4.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,5.000000,5.000000,5.000000

In [8]:
data_observe = data_observe.drop(columns=['age','Medu','Fedu','traveltime','studytime','failures','absences'])
data_observe

     famrel  freetime  goout  Dalc  Walc  health  G1  G2  G3
0         4         3      2     5     5       3   2   2   2
1         5         3      3     5     5       3   2   2   2
2         4         3      4     4     3       3   2   2   3
3         3         4      4     5     5       5   4   4   4
4         4         3      4     5     4       5   2   3   3
..      ...       ...    ...   ...   ...     ...  ..  ..  ..
390       5         1      2     2     1       4   3   3   3
391       2         2      1     3     2       2   4   4   4
392       5         1      3     3     3       3   3   2   2
393       4         2      5     3     2       5   3   3   3
394       3         4      3     3     3       5   2   3   3

[395 rows x 9 columns]

In [9]:
data_observe.isnull().sum()

famrel      0
freetime    0
goout       0
Dalc        0
Walc        0
health      0
G1          0
G2          0
G3          0
dtype: int64

In [10]:
x = data_observe.drop(columns='G3')
y = data_observe['G3']

print(x)
print(y)

     famrel  freetime  goout  Dalc  Walc  health  G1  G2
0         4         3      2     5     5       3   2   2
1         5         3      3     5     5       3   2   2
2         4         3      4     4     3       3   2   2
3         3         4      4     5     5       5   4   4
4         4         3      4     5     4       5   2   3
..      ...       ...    ...   ...   ...     ...  ..  ..
390       5         1      2     2     1       4   3   3
391       2         2      1     3     2       2   4   4
392       5         1      3     3     3       3   3   2
393       4         2      5     3     2       5   3   3
394       3         4      3     3     3       5   2   3

[395 rows x 8 columns]
0      2
1      2
2      3
3      4
4      3
      ..
390    3
391    4
392    2
393    3
394    3
Name: G3, Length: 395, dtype: int64

In [11]:
result_log = sm.MNLogit(y, sm.add_constant(x)).fit()

print(result_log.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.512024
         Iterations: 35
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                     G3   No. Observations:                  395
Model:                        MNLogit   Df Residuals:                      359
Method:                           MLE   Df Model:                           32
Date:                Fri, 23 Apr 2021   Pseudo R-squ.:                  0.6371
Time:                        04:42:13   Log-Likelihood:                -202.25
converged:                      False   LL-Null:                       -557.31
Covariance Type:            nonrobust   LLR p-value:                9.062e-129
==============================================================================
      G3=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.1497      2.510     -0.458      0.647      -6.069       3.770
famrel         0.3272      0.260      1.258      0.209      -0.183       0.837
freetime      -0.2983      0.254     -1.175      0.240      -0.796       0.199
goout         -0.1294      0.215     -0.603      0.547      -0.550       0.291
Dalc           0.1436      0.372      0.386      0.700      -0.586       0.873
Walc          -0.3047      0.247     -1.236      0.217      -0.788       0.179
health         0.2075      0.177      1.173      0.241      -0.139       0.554
G1            -1.0659      0.536     -1.990      0.047      -2.116      -0.016
G2             1.7955      0.511      3.517      0.000       0.795       2.796
------------------------------------------------------------------------------
      G3=3       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -14.8861      3.122     -4.768      0.000     -21.005      -8.767
famrel         0.7086      0.298      2.374      0.018       0.124       1.294
freetime      -0.3536      0.298     -1.186      0.236      -0.938       0.231
goout          0.5821      0.271      2.146      0.032       0.051       1.114
Dalc           0.1120      0.417      0.269      0.788      -0.705       0.929
Walc          -0.5408      0.291     -1.856      0.063      -1.112       0.030
health         0.2040      0.209      0.978      0.328      -0.205       0.613
G1             0.9534      0.564      1.692      0.091      -0.151       2.058
G2             4.5644      0.640      7.132      0.000       3.310       5.819
------------------------------------------------------------------------------
      G3=4       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -37.6527      4.423     -8.513      0.000     -46.321     -28.984
famrel         0.9538      0.420      2.273      0.023       0.131       1.776
freetime      -0.1832      0.403     -0.455      0.649      -0.973       0.606
goout          0.6329      0.404      1.567      0.117      -0.159       1.425
Dalc          -0.3114      0.556     -0.560      0.576      -1.402       0.779
Walc          -0.0154      0.428     -0.036      0.971      -0.854       0.823
health         0.0216      0.281      0.077      0.939      -0.528       0.571
G1             2.4307      0.745      3.264      0.001       0.971       3.890
G2             9.3528      0.880     10.627      0.000       7.628      11.078
------------------------------------------------------------------------------
      G3=5       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       -397.1708   4939.570     -0.080      0.936   -1.01e+04    9284.209
famrel         0.7837      0.791      0.990      0.322      -0.767       2.335
freetime      -0.0279      0.750     -0.037      0.970      -1.499       1.443
goout          1.0381      0.784      1.325      0.185      -0.498       2.574
Dalc           9.3201    440.852      0.021      0.983    -854.734     873.374
Walc          10.2928     92.879      0.111      0.912    -171.746     192.332
health        -0.3961      0.504     -0.785      0.432      -1.385       0.593
G1             4.5200      1.680      2.691      0.007       1.228       7.812
G2            71.6853    675.028      0.106      0.915   -1251.346    1394.716
==============================================================================

/opt/conda/lib/python3.7/site-packages/statsmodels/base/model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  ConvergenceWarning)

In [12]:
log_reg = LogisticRegression(multi_class='multinomial',solver='newton-cg')
log_reg_result = log_reg.fit(x,y)

print('Intercept :', log_reg_result.intercept_)

Intercept : [ 16.07903488  16.1339525    5.89346043  -9.66071221 -28.4457356 ]

In [13]:
data_result = pds.DataFrame(log_reg_result.coef_, columns=x.columns)
#data_result['intercept'] = log_reg_result.intercept_
data_result['class'] = log_reg_result.classes_

data_result.head()

,famrel,freetime,goout,Dalc,Walc,health,G1,G2,class
0,-0.388947,0.151328,-0.213963,0.014985,0.121893,-0.038602,-1.061361,-3.875674,1
1,-0.140815,-0.079663,-0.343136,0.110178,-0.168989,0.124174,-2.045458,-2.577364,2
2,0.107687,-0.065938,0.203664,0.100413,-0.324910,0.103335,-0.240527,-0.763590,3
3,0.178932,0.048979,0.170888,-0.114740,-0.008033,0.004430,0.973883,2.362830,4
4,0.243143,-0.054707,0.182547,-0.110835,0.380038,-0.193336,2.373462,4.853799,5

In [14]:
def famrel_koef(cat):
    
    if cat == 1: k = log_reg_result.coef_[0,0]
    elif cat == 2: k = log_reg_result.coef_[1,0]
    elif cat == 3: k = log_reg_result.coef_[2,0]
    elif cat == 4: k = log_reg_result.coef_[3,0]
    else: k = log_reg_result.coef_[4,0]
   
    #print(k)
    #print(k*cat)
    return k*cat
        
famrel_koef(3)

0.32306118574451304

In [15]:
def freetime_koef(cat):
    
    if cat == 1: k = log_reg_result.coef_[0,1]
    elif cat == 2: k = log_reg_result.coef_[1,1]
    elif cat == 3: k = log_reg_result.coef_[2,1]
    elif cat == 4: k = log_reg_result.coef_[3,1]
    else: k = log_reg_result.coef_[4,1]
   
    #print(k)
    #print(k*cat)
    return k*cat
        
freetime_koef(3)

-0.19781270440490617

In [16]:
def goout_koef(cat):
    
    if cat == 1: k = log_reg_result.coef_[0,2]
    elif cat == 2: k = log_reg_result.coef_[1,2]
    elif cat == 3: k = log_reg_result.coef_[2,2]
    elif cat == 4: k = log_reg_result.coef_[3,2]
    else: k = log_reg_result.coef_[4,2]
   
    #print(k)
    #print(k*cat)
    return k*cat
        
goout_koef(3)

0.6109910211329557

In [17]:
def dalc_koef(cat):
    
    if cat == 1: k = log_reg_result.coef_[0,3]
    elif cat == 2: k = log_reg_result.coef_[1,3]
    elif cat == 3: k = log_reg_result.coef_[2,3]
    elif cat == 4: k = log_reg_result.coef_[3,3]
    else: k = log_reg_result.coef_[4,3]
   
    #print(k)
    #print(k*cat)
    return k*cat
        
dalc_koef(3)

0.30123753674621784

In [18]:
def walc_koef(cat):
    
    if cat == 1: k = log_reg_result.coef_[0,4]
    elif cat == 2: k = log_reg_result.coef_[1,4]
    elif cat == 3: k = log_reg_result.coef_[2,4]
    elif cat == 4: k = log_reg_result.coef_[3,4]
    else: k = log_reg_result.coef_[4,4]
   
    #print(k)
    #print(k*cat)
    return k*cat
        
walc_koef(3)

-0.9747286809597648

In [19]:
def health_koef(cat):
    
    if cat == 1: k = log_reg_result.coef_[0,5]
    elif cat == 2: k = log_reg_result.coef_[1,5]
    elif cat == 3: k = log_reg_result.coef_[2,5]
    elif cat == 4: k = log_reg_result.coef_[3,5]
    else: k = log_reg_result.coef_[4,5]
   
    #print(k)
    #print(k*cat)
    return k*cat
        
health_koef(3)

0.3100035617435004

In [20]:
def g1_koef(cat):
    
    if cat == 1: k = log_reg_result.coef_[0,6]
    elif cat == 2: k = log_reg_result.coef_[1,6]
    elif cat == 3: k = log_reg_result.coef_[2,6]
    elif cat == 4: k = log_reg_result.coef_[3,6]
    else: k = log_reg_result.coef_[4,6]
   
    #print(k)
    #print(k*cat)
    return k*cat
        
g1_koef(3)

-0.7215814386382119

In [21]:
def g2_koef(cat):
    
    if cat == 1: k = log_reg_result.coef_[0,7]
    elif cat == 2: k = log_reg_result.coef_[1,7]
    elif cat == 3: k = log_reg_result.coef_[2,7]
    elif cat == 4: k = log_reg_result.coef_[3,7]
    else: k = log_reg_result.coef_[4,7]
   
    #print(k)
    #print(k*cat)
    return k*cat
        
g2_koef(3)

-2.2907698640594

In [22]:
def persamaan(cat,famrel_cat,freetime_cat,goout_cat,dalc_cat,walc_cat,health_cat,g1_cat,g2_cat):
    if cat == 1: i = log_reg_result.intercept_[0]
    elif cat == 2: i = log_reg_result.intercept_[1]
    elif cat == 3: i = log_reg_result.intercept_[2]
    elif cat == 4: i = log_reg_result.intercept_[3]
    elif cat == 5: i = log_reg_result.intercept_[4]
    
    famrel = famrel_koef(famrel_cat)
    freetime = freetime_koef(freetime_cat)
    goout = goout_koef(goout_cat)
    dalc = dalc_koef(dalc_cat)
    walc = walc_koef(walc_cat)
    health = health_koef(health_cat)
    g1 = g1_koef(g1_cat)
    g2 = g2_koef(g2_cat)
    
    pers = i + famrel + freetime + goout + dalc + walc + health + g1 + g2
    
    return pers
    
persamaan(3,1,4,4,2,3,1,2,1)

-2.3755804494168427

In [23]:
def nilai_y(famrel_cat,freetime_cat,goout_cat,dalc_cat,walc_cat,health_cat,g1_cat,g2_cat):
    y_prob_1 = 1/(1+npy.exp(persamaan(1,famrel_cat,freetime_cat,goout_cat,dalc_cat,walc_cat,health_cat,g1_cat,g2_cat)))
    y_prob_2 = 1/(1+npy.exp(persamaan(2,famrel_cat,freetime_cat,goout_cat,dalc_cat,walc_cat,health_cat,g1_cat,g2_cat)))
    y_prob_3 = 1/(1+npy.exp(persamaan(3,famrel_cat,freetime_cat,goout_cat,dalc_cat,walc_cat,health_cat,g1_cat,g2_cat)))
    y_prob_4 = 1/(1+npy.exp(persamaan(4,famrel_cat,freetime_cat,goout_cat,dalc_cat,walc_cat,health_cat,g1_cat,g2_cat)))
    y_prob_5 = 1/(1+npy.exp(persamaan(5,famrel_cat,freetime_cat,goout_cat,dalc_cat,walc_cat,health_cat,g1_cat,g2_cat)))
    
    y_prob = [y_prob_1,y_prob_2,y_prob_3,y_prob_4]

    return y_prob

nilai_y(3,3,3,3,2,2,2,2)

[0.00041732018791002277,
 0.00039502870712597145,
 0.917157276587316,
 0.9999999841248002]

In [24]:
data_prob_result=pds.DataFrame()

result = nilai_y(1,1,1,1,1,1,1,1)

data_prob_result['uraian'] = ['nilai prob','sangat baik']
#data_prob_result['sangat kurang'] = [result[0]*100,100-(result[0]*100)]
data_prob_result['baik'] = [(float("{:.7f}".format(result[0]*100))),(float("{:.7f}".format(100-(result[0]*100))))]
data_prob_result['cukup'] = [(float("{:.7f}".format(result[1]*100))),(float("{:.7f}".format(100-(result[1]*100))))]
data_prob_result['kurang'] = [(float("{:.7f}".format(result[2]*100))),(float("{:.7f}".format(100-(result[2]*100))))]
data_prob_result['sangat kurang'] = [(float("{:.7f}".format(result[3]*100))),(float("{:.7f}".format(100-(result[3]*100))))]

data_prob_result

        uraian       baik      cukup     kurang  sangat kurang
0   nilai prob   0.002063   0.001953  35.363026      99.999968
1  sangat baik  99.997937  99.998047  64.636974       0.000032

In [25]:
print(classification_report(y,log_reg_result.predict(x)))
print('Accuracy :', metrics.accuracy_score(y,log_reg_result.predict(x)))

              precision    recall  f1-score   support

           1       0.64      0.41      0.50        39
           2       0.66      0.65      0.66        63
           3       0.81      0.90      0.85       162
           4       0.89      0.90      0.89       107
           5       1.00      0.79      0.88        24

    accuracy                           0.81       395
   macro avg       0.80      0.73      0.76       395
weighted avg       0.80      0.81      0.80       395

Accuracy : 0.8050632911392405

In [ ]:
result_log = sm.MNLogit(y, sm.add_constant(x)).fit()

print(result_log.summary())

In [ ]:
log_reg_test = LogisticRegression(multi_class='multinomial', solver='newton-cg')
logreg = log_reg_test.fit(x_test, y_test)

pred = logreg.predict(x_test)
pred_prob = logreg.predict_proba(x_test)
pred_class = logreg.classes_

data_result = pds.DataFrame()
data_result['1'] = pred_prob[:,0]
data_result['2'] = pred_prob[:,1]
data_result['3'] = pred_prob[:,2]
data_result['4'] = pred_prob[:,3]
data_result['5'] = pred_prob[:,4]

#data_result['prob_value'] = pred_prob
#data_result['class'] = pred
data_result

#pred_prob

In [ ]:
print(classification_report(y_test, pred))

print('Accuracy :', metrics.accuracy_score(y_test,pred))